<ion-view view-title="添加人员">
    <ion-content>
        <div class="list card cardupdate" style="margin: 5px 10px;">
            <div class="item" style="margin: -17px 0px;">
                <label class="">
                    <span class="input-label">姓名</span>
                    <input type="text" placeholder="姓名" value="{{personInfo.name}}">
                </label>
            </div>
        </div>
        <div class="list card cardupdate" style="margin: 5px 10px;">
            <div class="item" style="margin: -17px 0px;">
                <label class="">
                    <span class="input-label">电话</span>
                    <input type="text" placeholder="电话" value="{{personInfo.phone}}">
                </label>
            </div>
        </div>
        <div class="list card cardupdate" style="margin: 5px 10px;">
            <div class="item  item-select" style="margin: -17px 0px;">
                <label class="">
                    <span class="input-label">性别</span>
                    <select ng-model="sex" ng-init="sex = personInfo.sex">
                        <option value="F">男</option>
                        <option value="M">女</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="list card cardupdate" style="margin: 5px 10px;">
            <div class="item" style="margin: -17px 0px;">
                <label class="">
                    <span class="input-label">地址</span>
                    <input type="text" placeholder="地址" value="{{personInfo.address}}">
                </label>
            </div>
        </div>
        <div class="list card cardupdate" style="margin: 5px 10px;">
            <div class="item" style="margin: -17px 0px;">
                <label class="">
                    <span class="input-label">电子邮箱</span>
                    <input type="text" placeholder="电子邮箱" value="{{personInfo.email}}">
                </label>
            </div>
        </div>
        <div class="list card cardupdate" style="margin: 5px 10px;">
            <div class="item" style="margin: -17px 0px;">
                <label class="">
                    <span class="input-label">公司</span>
                    <input type="text" placeholder="公司" value="{{personInfo.company}}">
                </label>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive">提交</button>
        </div>
    </ion-content>
</ion-view>