<div class="modal">
  <div class="bar bar-header">
    <button class="button" style="position: absolute;right: 5px;" ng-click="hiddenResources();">关闭</button>
  </div>
  <ion-content>
    <div style="margin-top: 55px;">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="resources in resourcesList" type="item-text-wrap" ng-click="addResourcesToOrder(resources)">
        <img ng-src="{{resources.img}}">
        <h2>{{resources.desc}}</h2>
        <p>{{resources.name}} {{resources.company}}</p>
      </ion-item>
    </div>
  </ion-content>
</div>
