<ion-view title="讨论组">
    <ion-nav-buttons side="right">
      <button class="button button-icon ion-person-stalker ion-navicon" menu-toggle="right" ng-click="goPersonList(chat.id)">
      </button>
    </ion-nav-buttons>
  <ion-content has-bouncing="true" class="has-header has-footer"
               delegate-handle="userMessageScroll">
    <div class="list list-inset" style="margin-top: 5px;margin-bottom: 5px;">
      <label class="item item-input">
        讨论主题：{{chat.title}}
      </label>
    </div>
    <div ng-repeat="chat in chat.discuss" class="message-wrapper">
      <div ng-if="userId !== chat.id">

        <img ng-click="" class="profile-pic left"
             ng-src="{{chat.img}}" onerror="" />

          <div class="chat-bubble left">

            <div class="message" ng-bind-html="chat.speak">
            </div>
            <div class="message-detail">
              <span ng-click=""class="bold">{{chat.name}}</span>,
            <span am-time-ago="message.date"></span>
          </div>
        </div>
      </div>

      <div ng-if="userId == chat.id">
        <img ng-click="" class="profile-pic right"
             ng-src="{{chat.img}}" onerror="" />
        <div class="chat-bubble right">
          <div class="message" ng-bind-html="chat.speak">
          </div>
          <div class="message-detail" style="text-align: right;">
            <span ng-click=""class="bold">{{chat.name}}</span>,
            <span am-time-ago="message.date"></span>
          </div>
        </div>
      </div>
      <div class="cf"></div>
    </div>
  </ion-content>
  <form name="sendMessageForm" ng-submit="">
    <ion-footer-bar class="bar-stable item-input-inset message-footer">
      <label class="item-input-wrapper">
        <textarea ng-model="input.message" value="" placeholder="Send {{person.name}} a message..." required minlength="1" maxlength="1500"style="width: 100%" ></textarea>
      </label>
      <button class="button button-icon icon ion-android-send" type="submit"
              ng-disabled="!input.message || input.message === ''">
      </button>
    </ion-footer-bar>
  </form>
</ion-view>
