<ion-view view-title="联系人">
    <ion-content>
        <div class="content">
            <div class="list list-inset" style="margin-top: 5px;margin-bottom: 5px;">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
            </div>
        </div>
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="personmain in personmainLists | orderBy:'name':false" type="item-text-wrap" ng-click="goInfo(personmain.id)">
            <img ng-src="{{personmain.img}}">
            <h2>{{personmain.name}} {{personmain.company}}</h2>
            <p>{{personmain.address}}</p>
          </ion-item>
        </ion-list>
    </ion-content>
    <div class="rj-contacts-right-bar" >
      <div>&uarr;</div>
      <div>☆</div>
      <div>A</div>
      <div>B</div>
      <div>C</div>
      <div>D</div>
      <div>E</div>
      <div>F</div>
      <div>G</div>
      <div>H</div>
      <div>I</div>
      <div>J</div>
      <div>K</div>
      <div>L</div>
      <div>M</div>
      <div>N</div>
      <div>O</div>
      <div>P</div>
      <div>Q</div>
      <div>R</div>
      <div>S</div>
      <div>T</div>
      <div>U</div>
      <div>V</div>
      <div>W</div>
      <div>X</div>
      <div>Y</div>
      <div>Z</div>
      <div>#</div>
    </div>
    <div class="bar bar-footer" style="margin-left: -6px;">
        <div class="tab-nav tabs">
            <a class="tab-item tab-item-active" style="line-height: 12px;" href="#/app/addPerson">
                <i class="icon ion-ios-personadd-outline" style="line-height: 14px;">
                </i>
                <span class="tab-title ng-binding" style="font-size: 10px;">添加人员</span>
            </a>
            <a class="tab-item tab-item-active" style="line-height: 12px;" href="#/app/personLabel">
                <i class="icon ion-pricetag" style="line-height: 14px;">
                </i>
                <span class="tab-title ng-binding" style="font-size: 10px;">标签</span>
            </a>
            <a class="tab-item tab-item-active" style="line-height: 12px;" href="#/app/chatList">
                <i class="icon ion-chatboxes" style="line-height: 14px;">
                </i>
                <span class="tab-title ng-binding" style="font-size: 10px;">群聊</span>
            </a>
            <a class="tab-item tab-item-active" style="line-height: 12px;">
                <i class="icon ion-android-bulb" style="line-height: 14px;">
                </i>
                <span class="tab-title ng-binding" style="font-size: 10px;">发现</span>
            </a>
        </div>
    </div>
</ion-view>
