<ion-view title="标签中人员({{labelInfo.title}})">
  <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-icon ion-plus-round ion-navicon" menu-toggle="right" ng-click="newPerson()">-->
    <!--</button>-->
  <!--</ion-nav-buttons>-->
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="personmain in personList" type="item-text-wrap">
        <img ng-src="{{personmain.img}}">
        <h2>{{personmain.name}} {{personmain.company}}</h2>
        <p>{{personmain.address}}</p>
        <ion-option-button class="button-assertive" ng-click="">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
