<ion-view title="我的订单">
    <div class="bar bar-subheader">
        <div style="justify-content: center;display: flex;position: absolute;bottom: 0;z-index: 5;width: 100%;height: 42px;border-style: solid;">
            <a class="tab-item tab-item-active">
                <button class="button button-stable" style="width: 80px;height: 96%;" ng-click="getSalOrder()">销售订单</button>
            </a>
            <a class="tab-item tab-item-active">
                <button class="button button-stable" style="width: 80px;height: 96%;" ng-click="getPurOrder()">采购订单</button>
            </a>
        </div>
    </div>
    <ion-content>
        <ion-list>
            <div style="margin-top: 70px;">
                <div class="content" ng-repeat="order in orderList" style="margin-top: -18px;" ng-click="goOrderInf(order.orderId,order.orderTypeId)">
                    <div class="list card cardupdate">
                        <div class="item item-avatar">
                            <img ng-src="{{order.img}}">
                            <h2>{{order.name}} {{order.company}}</h2>
                            <p>{{order.address}}</p>
                        </div>
                        <div class="item item-body">
                            <p>
                                {{order.desc}}
                            </p>
                            <p>
                                <a class="subdued">{{order.pushed}} 已推送联系人</a>
                            </p>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <a class="tab-item">
                                <i class="icon ion-share"></i>
                                推送
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer" style="margin-left: -6px;">
        <div class="tab-nav tabs">
            <a class="tab-item tab-item-active">
                <button class="button button-light" style="width: 80px;height: 100%;" ng-click="choiceOrderType()">新建</button>
            </a>
            <a class="tab-item tab-item-active">
                <select style="width: 83%;height: 100%;">
                    <option>请选择日期</option>
                    <option ng-repeat="option in dateOption" option="{{option.id}}">{{option.desc}}</option>
                </select>
            </a>
        </div>
    </div>
</ion-view>
