<ion-view view-title="我的资源">
  <ion-content>
    <div class="content">
      <div class="list list-inset" style="margin-top: 5px;margin-bottom: 5px;">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>
    </div>
    <div class="content" style="margin-top: 15px;">
      <div class="row row-wrap" style="margin-left: -10px;">
        <div class="col col-50" ng-repeat="resources in resourcesList">
          <ion-item class="card" style="height:100%; width:100%;margin-top: -20px;"  type="item-text-wrap" ng-click="goInfo(resources.id)">
            <div class="item item-body">
              <img  style="height:100%; width:100%;" src="{{resources.descImg}}">
              <p>{{resources.title}}</p>
            </div>
            <div class="item tabs">
              <a class="tab-item" href="#">
                喜欢
              </a>
              <a class="tab-item" href="#">
                评论
              </a>
              <a class="tab-item" href="#">
                收藏
              </a>
            </div>
          </ion-item>
        </div>
    </div>
   </div>
  </ion-content>
  <div class="bar bar-footer" style="margin-left: -6px;">
    <div class="tab-nav tabs">
      <a class="tab-item tab-item-active" style="line-height: 12px;" href="#/app/newResources">
        <i class="icon ion-plus-circled" style="line-height: 14px;">
        </i>
        <span class="tab-title ng-binding" style="font-size: 10px;">添加资源</span>
      </a>
    </div>
  </div>
</ion-view>
