<ion-view view-title="资源详情">
  <ion-content>
    <div class="content ionic-pseudo">
      <div class="list card">
        <div class="item">
          <label class="">
            <span class="input-label">标题</span>
            {{resources.title}}{{resourcesOther.title}}
          </label>
        </div>
        <div class="item">
          <label class="">
            <span class="input-label">产品或服务描述</span>
            {{resources.desc}}{{resourcesOther.desc}}
          </label>
        </div>
        <div class="item">
          <label class="">
            <span class="input-label">图片</span>
            <img ng-src="{{resources.descImg}}" style="max-width: 100%;">
            <img ng-src="{{resourcesOther.descImg}}" style="max-width: 100%;">
          </label>
        </div>
        <div class="item">
          <label class="">
            <span class="input-label">价格</span>
            {{resources.price}}{{resourcesOther.price}}
          </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
