<div class="modal">
    <!-- Modal header bar -->
    <ion-content>

        <div class="row" style="margin-top: 25px;">
            <div class="col col-50">
                <a  class="tab-item" class="ion-person-stalker" style="max-width: 100%;">
                    <i class="icon ion-person-stalker" style="line-height: 14px;"></i>
                    <span class="tab-title ng-binding" style="font-size: 10px;">添加联系人</span>
                </a>
            </div>
            <div class="col col-50">
                <a class="tab-item" style="max-width: 100%;">
                    <i class="icon ion-ios-people-outline" style="line-height: 14px;"></i>
                    <span class="tab-title ng-binding" style="font-size: 10px;">发起对话</span>
                </a>
            </div>
        </div>
        <div class="row" style="margin-top: 25px;">
            <div class="col col-50">
                <a  class="tab-item" class="ion-person-stalker" style="max-width: 100%;">
                    <i class="icon ion-android-upload" style="line-height: 14px;"></i>
                    <span class="tab-title ng-binding" style="font-size: 10px;">发布资源</span>
                </a>
            </div>
            <div class="col col-50">
                <a class="tab-item" style="max-width: 100%;">
                    <i class="icon ion-android-list" style="line-height: 14px;"></i>
                    <span class="tab-title ng-binding" style="font-size: 10px;">发起订单</span>
                </a>
            </div>
        </div>
        <div class="row" style="margin-top: 25px;">
            <div class="col col-50">
                <a  class="tab-item" class="ion-person-stalker" style="max-width: 100%;">
                    <i class="icon ion-speakerphone" style="line-height: 14px;"></i>
                    <span class="tab-title ng-binding" style="font-size: 10px;">发起活动</span>
                </a>
            </div>
            <div class="col col-50">
                <a class="tab-item" style="max-width: 100%;">
                    <i class="icon ion-eye" style="line-height: 14px;"></i>
                    <span class="tab-title ng-binding" style="font-size: 10px;">查看更新</span>
                </a>
            </div>
        </div>
        <div style="margin-top: 25px;text-align: center;">
            <a class="ion-close-circled" style="font-size: 35px;color: red;" ng-click="closeNewTask()"></a>
        </div>
    </ion-content>
</div>