<ion-view view-title="新建资源">
    <ion-content>
        <div class="content ionic-pseudo">
            <div class="list card">
                <div class="item">
                    <label class="">
                        <span class="input-label">标题</span>
                        <input type="text" placeholder="标题" value="" style="width: 100%">
                    </label>
                </div>
                <div class="item">
                    <label class="">
                        <span class="input-label">产品或服务描述</span>
                        <input type="text" placeholder="产品或服务描述" value="" style="width: 100%">
                    </label>
                </div>
                <div class="item">
                    <label class="">
                        <span class="input-label">图片</span>
                        <button class="button button-block button-stable" ng-click="takePhoto()">图片选择</button>
                        <img ng-src="{{imageSrc}}" ng-click="takePhoto()" id="myImage" class="full-image">
                    </label>
                </div>
                <div class="item">
                    <label class="">
                        <span class="input-label">价格</span>
                        <input type="text" placeholder="价格" value="" style="width: 100%">
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>