<div class="modal">
  <div class="bar bar-header">
    <button class="button" style="position: absolute;right: 5px;" ng-click="hiddenContact();">关闭</button>
  </div>
  <ion-content>
    <div style="margin-top: 55px;">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="personmain in contactList" type="item-text-wrap" ng-click="showAddressConfirm(personmain.id)">
        <img ng-src="{{personmain.img}}">
        <h2>{{personmain.name}} {{personmain.company}}</h2>
        <p>{{personmain.address}}</p>
      </ion-item>
    </div>
  </ion-content>
</div>
