<ion-view title="编辑时间">
  <ion-content>
    <div class="content ionic-pseudo">
      <div class="list card">
        <div class="item">
          <label class="">
            <span class="input-label">标题</span>
            <input type="text" placeholder="标题" value="{{time.title}}" style="width: 100%">
          </label>
        </div>
        <div class="item">
          <label class="">
            <span class="input-label">日期</span>
            <div>{{date | date:'yyyy-MM-dd'}}</div>
            <input type="hidden" ng-click="openDatePicker()" value="{{date | date:'yyyy-MM-dd'}}">
          </label>
        </div>

        <div class="item">
          <label class="">
            <span class="input-label">开始时间</span>
            <div id="beginTimeDiv">{{beginTime | date:'HH:mm:ss'}}</div>
            <input type="hidden" ng-click="getIime('beginTime')" id="beginTime" ng-model="beginTime" value="{{beginTime | date:'HH:mm:ss'}}">
          </label>
        </div>
        <div class="item">
          <label class="">
            <span class="input-label">结束时间</span>
            <div id="endTimeDiv">{{endTime | date:'HH:mm:ss'}}</div>
            <input type="hidden" ng-click="getIime('endTime')" id="endTime" value="{{endTime | date:'HH:mm:ss'}}">
          </label>
        </div>

        <div class="item">
          <button class="button button-block button-stable">提交</button>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
